{% extends "base.html"%}
{% block title %} Home {% endblock %}
{%block scripts%}<script src="{{ url_for('static', filename='scripts/checkboxes.js') }}"></script>{%endblock%}

{%block content %}
<div class="header-container">
    <h1 class="page-header">Add Device Information</h1>
</div>

<div class="flex-tile-con">
    <div class="tile" style="flex: 1;">
        <h2 class="tile-title text-dark">Add New Devices</h2>
        <div class="tile-content" style="flex-direction: column;">

            <form method="POST" action="/add-device" style="width: 500px; overflow-y: scroll;" align="center">
                <div class="form-group">

                    <label for="deviceName">Device Name</label>
                    <input type="text" class="form-control" id="deviceName" name="deviceName" placeholder="Enter Name of Device">

                    <label for="deviceType">Device Type</label>
                    <input type="text" class="form-control" id="deviceType" name="deviceType" placeholder="Enter Type of Device">

                    <label for="powerRating">Power Rating (Watts)</label>
                    <input type="number" class="form-control" id="powerRating" name="powerRating" placeholder="Enter Device Wattage">

                    <label for="deviceConstant">Constant</label>
                    <select name="deviceConstant" id="deviceConstant" class="form-control" placeholder="Is This Device Constantly In Use?">
                        <option value="no" id="noContsant">No</option>
                        <option value="yes" id="yesConstant">Yes</option>
                    </select>

                    <label for="deviceAge">Device Age</label>
                    <input type="number" class="form-control" id="deviceAge" name="deviceAge" placeholder="Enter Device Age">

                    <label for="deviceTimezone">Timezones</label>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deviceTimezone" id="morningZone" value="morning"></input>
                        <label class="form-check-label" for="morningZone">Morning (6AM - 11AM)</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deviceTimezone" id="middayZone" value="midday"></input>
                        <label class="form-check-label" for="middayZone">Midday (11AM - 5PM)</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deviceTimezone" id="eveningZone" value="evening"></input>
                        <label class="form-check-label" for="eveningZone">Evening (5PM - 9PM)</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deviceTimezone" id="nightZone" value="night"></input> 
                        <label class="form-check-label" for="nightZone">Night (9PM - 6AM)</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deviceTimezone" id="randomZone" value="random"></input> 
                        <label class="form-check-label" for="randomZone">Random (Varied)</label>
                    </div>

                    <br />

                    <div class="form-button" align="center">
                        <button type="submit" class="btn btn-dark" style="width: 100px;">Add</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="tile-bottom">
            <div class="tile-bottom-container" style="display: flex; justify-content: space-evenly; width: 100%;">

            </div>
        </div>
    </div>

    <!--
    #in content need a GET request to get data from db model for devices
    #get deviceName powerRating and ID 
    #only display deviceName and poweRatingh
    #the edit button allows devices name and powerRating to be changed NOT type 
    #must remove device to change type
    #remove button gets the device ID search through the DB and removes all fields of associated device
    -->

    <div class="tile" style="flex: 1;">
        <h2 class="tile-title text-dark">Current Devices</h2>

        <div class="tile-content" style="flex-direction: column;">
            <div class="scrollable-table" style="height: 475px; width: 100%;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Type</th>
                            <th>Power Rating</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for device in devices %}
                        <tr>
                            <td>{{ device.deviceName }}</td>
                            <td>{{ device.deviceType }}</td>
                            <td>{{ device.powerRating }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="3">No devices added yet.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tile-bottom">
            <div class="tile-bottom-container" style="display: flex; justify-content: space-evenly; width: 100%;">
                <button class="btn btn-dark">Edit Device</button>
                <button class="btn btn-dark">Delete Device</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
