{% extends "base.html"%}
{% block title %} Home {% endblock %}
{%block scripts%}
<script src="{{ url_for('static', filename='scripts/checkboxes.js') }}"></script>
<script src="static/scripts/getPowerRating.js"></script>

{%endblock%}
{%block content %}
<div class="header-container">
    <h1 class="page-header">Add Device Information</h1>
</div>

<div class="flex-tile-con">
    <div class="tile" style="flex: 1;">
        <h2 class="tile-title text-dark">Add New Devices</h2>
        <div class="tile-content" style="flex-direction: column;">

            <form method="POST" action="/add-device" style="width: 500px;" align="center" id="add_form">
                <div class="form-group">

                    <label for="deviceName">Device Name</label>
                    <input type="text" class="form-control" id="deviceName" name="deviceName" placeholder="Enter Name of Device">

                    <label for="deviceType">Device Type</label>
                    <select class="form-control" id="deviceType" name="deviceType" placeholder="Please Select Type of Device">
                        <option value="" disabled selected hidden>Please Select Type of Device</option>
                        <option value="kettle">Kettle</option>
                        <option value="fridge">Fridge</option>
                        <option value="computer">Computer / PC</option>
                        <option value="hob">Electric Hob</option>
                        <option value="airfryer">Air Fryer</option>
                        <option value="tv">Television</option>
                        <option value="car_charge">Car Charger</option>
                        <option value="microwave">Microwave</option>
                        <option value="led_lights">LED Lighting</option>
                    </select>


                    <label for="powerRating">Power Rating (Watts)</label>
                    <input type="number" class="form-control" id="powerRating" name="powerRating" placeholder="Enter Device Wattage">

                    <div class="gpt-container">
                        <p class="gpt-button-text">Dont know power rating? Ask GPT!</p>
                        <button class="gpt-button" type="button" id="fetchPowerButton">
                            <img class="gpt-image" src="/static/gpt.png">
                        </button>
                    </div>

                    <label for="deviceAge">Device Age</label>
                    <input type="number" class="form-control" id="deviceAge" name="deviceAge" placeholder="Enter Device Age">

                    <label for="deviceTimezone">Timezones</label>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deviceTimezone" id="morningZone" value="morning"></input>
                        <label class="form-check-label" for="morningZone">Morning (6AM - 11AM)</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deviceTimezone" id="middayZone" value="midday"></input>
                        <label class="form-check-label" for="middayZone">Midday (11AM - 5PM)</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deviceTimezone" id="eveningZone" value="evening"></input>
                        <label class="form-check-label" for="eveningZone">Evening (5PM - 9PM)</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="deviceTimezone" id="nightZone" value="night"></input> 
                        <label class="form-check-label" for="nightZone">Night (9PM - 6AM)</label>
                    </div>
                    <br />                 
                </div>
            </form>
        </div>

        <div class="tile-bottom">
            <div class="tile-bottom-container" style="display: flex; justify-content: space-evenly; width: 100%;">
                <button class="btn btn-dark" id="add_device_button">Add Device</button>
            </div>
        </div>
    </div>

    <div class="tile" style="flex: 1;">
        <h2 class="tile-title text-dark">Current Devices</h2>

        <div class="tile-content" style="flex-direction: column;">
            <div class="device-output-container" style="height: 475px; width: 100%;">
                {% for device in devices %}
                <div class="device-output">
                    <p class="device-info" style="font-weight: bold;">{{ device.deviceName }}</p>
                    <p class="device-info">Type: {{ device.deviceType }}</p>
                    <p class="device-info">Power Rating: {{ device.powerRating }} Watts</p>
                    <p class="device-info">Age: {{ device.deviceAge }} Years</p>
                    In Use:
                    <div class="device-zones device-info">
                        {% for zone in device.timeZones %}
                            <p class="device-zone">'{{zone}}'</p>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="tile-bottom">
            <div class="tile-bottom-container" style="display: flex; justify-content: space-evenly; width: 100%;">
                <button class="btn btn-dark">Edit Device</button>
                <button class="deleteButton btn btn-dark">Delete Device</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
