{% extends "base.html.j2"%}
{% block title %} Home {% endblock %}
{% block head %}{% endblock %}
{%block scripts%}
<script src="{{ url_for('static', filename='scripts/csvUploadNameUpdater.js') }}"></script>
<script>
    function submitForm() {
        document.getElementById("csvUploadForm").submit(); // Submit the form when a file is chosen
    }
</script>
{%endblock%}

{%block content %}

<div class="header-container">
    <h1 class="page-header">
    {%if date%}
    {{date}}
    {%endif%}
    {%if not date%}
    Home
    {%endif%}
    </h1>
</div>

<div class="flex-tile-con">
    <div class="tile" style="flex: 2;">
        <h2 class="tile-title text-dark">Daily Totals</h2>
        <div class="tile-content" style="flex-direction: column; {{ 'overflow-y: scroll;' if power_output else '' }}">
            {% if power_output%}
                <div class="date">
                    Date: {{date}}
                </div>
                <div class="power_output">
                    Total Power Used Today:
                    {{ power_output }} kWh
                </div>

                {% if output_devices %}
                    {% for device in output_devices %}
                        <div class="device_output_box">
                            <div class="device-output-name">{{device.name}}</div>
                            <div class="device-power">
                                {{device.final_power}} kWh
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {%endif%}
        </div>
        <div class="tile-bottom">
            <form method="POST" action="/home/estimations" style="display: flex; width: 100%; justify-content: space-evenly;">
                <input id="date" name="date" class="form-control" type="date" placeholder="Select Day" style="max-width: 150px;">
                <button type="submit" class="btn btn-dark">Estimate</button>
            </form>
        </div>
    </div>

    {%if morning_devices or midday_devices or evening_devices or night_devices%}
        <div class="tile" style="flex: 3;">
            <h2 class="tile-title text-dark">Zone Analysis</h2>

            <div class="tile-content" style="flex-direction: column; {{ 'overflow-y: scroll;' if morning_devices or midday_devices or evening_devices or night_devices else '' }}">
                {%if morning_devices%}
                <div class="zone-title">Morning</div>
                <div class="zone-device-con">
                    {% for device in morning_devices %}
                        <div class="device_output_box">
                            <div class="device-output-name">{{device.name}}</div>
                            <div class="device-zone-output-info">Power Used In Zone:</div>
                            <div class="device-power">
                                {{device.morning_power}} kWh
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
                
                {%if midday_devices%}
                <div class="zone-title">Midday</div>
                <div class="zone-device-con">
                    {% for device in midday_devices %}
                         <div class="device_output_box">
                            <div class="device-output-name">{{device.name}}</div>
                            <div class="device-zone-output-info">Power Used In Zone:</div>
                            <div class="device-power">
                                {{device.midday_power}} kWh
                            </div>
                        </div>
                    {% endfor %}
                </div>  
                {% endif %}
               
                {%if evening_devices%}
                <div class="zone-title">Evening</div>
                <div class="zone-device-con">
                    {% for device in evening_devices %}
                         <div class="device_output_box">
                            <div class="device-output-name">{{device.name}}</div>
                            <div class="device-zone-output-info">Power Used In Zone:</div>
                            <div class="device-power">
                                {{device.evening_power}} kWh
                            </div>
                        </div>
                    {% endfor %}
                </div> 
                {% endif %}

                {%if evening_devices%}
                <div class="zone-title">Night</div>
                <div class="zone-device-con">
                    {% for device in night_devices %}
                         <div class="device_output_box">
                            <div class="device-output-name">{{device.name}}</div>
                            <div class="device-zone-output-info">Power Used In Zone:</div>
                            <div class="device-power">
                                {{device.night_power}} kWh
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <div class="tile-bottom"></div>
        </div>
    {%endif%}

    <div class="tile" style="flex: 3;">
        <h2 class="tile-title text-dark">CSV Data</h2>

        <div class="tile-content" style="display: flex; justify-content: center;">
            {% if csv_data %}
            <div class="scrollable-table" style="height: 475px; width: 100%;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>kWh</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in csv_data.csv_content.split('\n')[1:] %}
                        {% if loop.index <= 100 %}
                            {% if row.strip() != '' %}
                                <tr>
                                    {% for value in row.split(',') %}
                                        {% if loop.index in [2, 3] %}
                                            {% if loop.index == 2 %}
                                                <td>{{ value }}</td>
                                            {% else %}
                                                <td>{{ value|custom_datetime_format }}</td> 
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            <p>We Have Capped The Output To Only Show 100 Logs For Performance Purposes</p>
            </div>
            {% else %}
            <p class="text-dark">No CSV data found.</p>
            {% endif %}
            </div>
        
            <div class="tile-bottom" style="justify-content: space-evenly;">
                <div class="tile-bottom-container">
                    <form id="csvUploadForm" method="POST" enctype="multipart/form-data" action="/upload-csv">
                        <label for="csv_file" class="btn btn-dark" style="margin: 0!important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 125px;">Choose CSV</label>
                        <input class="file-upload" type="file" id="csv_file" name="csv_file" accept=".csv" required onchange="submitForm()">
                        <button type="submit" class="btn btn-dark" style="display: none;">Upload CSV</button>
                    </form>
                    
                    <form method="POST" action="/delete-csv">
                        <button type="submit" class="btn btn-dark">Delete CSV</button>
                    </form>

                    <form method="POST" action="/howto">
                        <button class="btn btn-dark">Help</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}

