{% extends "base.html"%}
{% block title %} Home {% endblock %}

{%block content %}

<div class="container" align=center>
    <h1>Home Page</h1>
    {% if csv_data %}
    <h2>CSV Data</h2>
    <div class="scrollable-table">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>kWh</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row in csv_data.csv_content.split('\n')[1:] %}
                {% if row.strip() != '' %}
                <tr>
                    {% for value in row.split(',') %}
                    {% if loop.index in [2, 3] %}
                    {% if loop.index == 2 %}
                    <td>{{ value }}</td>
                    {% else %}
                    <td>{{ value|custom_datetime_format }}</td> 
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No CSV data found for the user.</p>
    {% endif %}
</div>

<div class="container mt-4" align="center">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" enctype="multipart/form-data" action="/upload-csv" style="width: 300px;">
                <div class="custom-file mb-2" style="display: flex;">
                    <input type="file" class="custom-file-input" id="csv_file" name="csv_file" accept=".csv" required>
                    <label class="custom-file-label" for="csv_file" style="text-align: left;">Choose CSV file...</label>
                </div>
                <div class="mb-2" style="display: flex; justify-content: space-evenly;">
                    <button type="submit" class="btn btn-dark" style="width: 125px;">Upload CSV</button>
                </div>
            </form>
            <form method="POST" enctype="multipart/form-data" action="/delete-csv">
                <button type="submit" class="btn btn-dark" style="width: 125px;">Delete CSV</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}