{% extends "base.html"%}
{% block title %} Home {% endblock %}
{%block scripts%}<script src="{{ url_for('static', filename='scripts/csvUploadNameUpdater.js') }}"></script>{%endblock%}

{%block content %}

<div class="header-container">
    <h1 class="page-header">Home</h1>
</div>

<div class="flex-tile-con">

    <div class="tile" style="flex: 2;">
        <h2 class="tile-title text-dark">Estimations</h2>
        <div class="tile-content" style="flex-direction: column;">
            {% if processingOutput %}
                {% for string in processingOutput.split('\n') %}
                <p>{%print(string)%}</p>
                {% endfor %}
            {% endif %}
 
        </div>
        <div class="tile-bottom">
            <form method="POST" action="/run-processing">
                <button class="btn btn-dark">Get Processed Results</button>
            </form>
        </div>
    </div>

    <div class="tile" style="flex: 3;">
        <h2 class="tile-title text-dark">CSV Data</h2>

        <div class="tile-content" style="display: flex; justify-content: center;">
            {% if csv_data %}
            <div class="scrollable-table" style="height: 475px; width: 100%;">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>kWh</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in csv_data.csv_content.split('\n')[1:] %}
                        {% if row.strip() != '' %}
                        <tr>
                            {% for value in row.split(',') %}
                            {% if loop.index in [2, 3] %}
                            {% if loop.index == 2 %}
                            <td>{{ value }}</td>
                            {% else %}
                            <td>{{ value|custom_datetime_format }}</td> 
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-dark">No CSV data found.</p>
            {% endif %}
            </div>
        
            <div class="tile-bottom" style="justify-content: space-evenly;">
                <div class="tile-bottom-container" style="display: flex; justify-content: space-evenly; width: 100%;">
                    <label for="csv_file" class="btn btn-dark" style="margin: 0!important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 125px;">Choose CSV</label>
                    <form method="POST" enctype="multipart/form-data" action="/upload-csv">
                        <input class="file-upload" type="file" id="csv_file" name="csv_file" accept=".csv" required>
                        <button type="submit" class="btn btn-dark">Upload CSV</button>
                    </form>
                    
                    <form method="POST" action="/delete-csv">
                        <button type="submit" class="btn btn-dark">Delete CSV</button>
                    </form>
                    
                    <form method="POST" action="/howto">
                        <button class="btn btn-dark">Help</button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</div>

{% endblock %}

