{% extends "base.html"%}
{% block title %} Preferences {% endblock %}

{%block content %}

<div class="header-container">
    <h1 class="page-header">Preferences</h1>
</div>

<div class="flex-tile-con">

    <div class="tile" style="flex: 1;">
        <h2 class="tile-title text-dark">Select your preferences.</h2>

        <div class="tile-content" style="flex-direction: column;" align="center">
            <form action="/preference-color-picker" method="post">
                <div class="form-group">
                    <label for="colorPicker">Choose Color</label>
                    <input type="color" class="form-control" id="colorPicker" name="color" value="white" style="width: 48px; height: 40px;">
                </div>
                <button type="submit" class="btn btn-dark" name="submit-color" id="submit-color" style="opacity: 0; height: 0; width: 0; margin: 0; padding: 0;">Submit</button>
            </form>
        </div>

        <div class="tile-bottom">
            <label for="submit-color" class="btn btn-dark" style="margin: 0!important; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 125px;">Submit</label>
        </div>
    </div>

</div>

{% endblock %}