{% extends "base.html"%}
{% block title %} Preferences {% endblock %}

{%block content %}
    <div class="container mt-5" align=center>
        <h1>Preferences</h1>
        <form action="/preference-color-picker" method="post">
            <div class="form-group">
                <label for="colorPicker">Choose Color</label>
                <input type="color" class="form-control" id="colorPicker" name="color" value="#563d7c">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
{% endblock %}